*{
    margin:0;
    padding:0;
    font-size:12px;
    font-family:STHeitiSC Light;
}
.wrap{
    width:100%;
    height:100%;
    overflow: hidden;
}
.header{
    position:fixed;
    top:0;
    width:100%;
    height:3.54167rem;
    line-height:3.54167rem;
    background-color:#5FC0CD;
    text-align:center;
    vertical-align:middle;
    z-index: 1;
}
.back{
    position: absolute;
    top:1.125rem;
    left:4.8611%;
    max-width:11px;
}
.personal_page{
    font-size: 1.5rem;
    color:#FFF;
    text-align:center;
    vertical-align:middle;
}
.main_top{
    background:url(task5pic/bg.png) no-repeat;
    background-size:cover;
    padding-top:3.5rem;
    width:100%;
    height:auto;
}
.portrait{
    max-width:84.5px;
    margin:3.29166rem 5.6944% 0 4.16667%;
    float:left;

}
.introduction{
    width:100%;
    height:13.5833rem;
    position:relative;
    top:4.875rem;
}
.name_age{
    text-align:center;
    font-size: 1.5rem;
    color:#FFF;
}
.age{
    font-size: 1.33333rem;
}
.address{
    text-align:center;
    font-size: 1rem;
    color:#FFF;
}
.address_pic{
    max-width:13.5px;
}
.skill{
    margin:1.375rem 4.16667%;
    padding:0 3.8889%;
    font-size:1.33333rem;
    border-left:2px solid #5FC0CD;
    vertical-align:middle;
}
li{
    padding:1.5rem 3.61111%;
    overflow:hidden;
    list-style-type: none;
}
.main_bottom{
    padding-bottom:7.3333rem;
}
.bottom_border{
    border-bottom:1px solid rgb(225,229,231);
}
.particulars{
    width:100%;
    padding-left:4.16667%;
    border-top:1px solid rgb(225,229,231);
    border-bottom:1px solid rgb(225,229,231);
    vertical-align: middle;
}
.star{
    max-width:12px;
    vertical-align: middle;
}
.stay_home{
    display:inline;
    font-size: 1.33333rem;
    padding:0.1% 1rem 0 0;
    border-right:1px solid rgb(225,229,231);
    vertical-align: middle;
}
.text_left{
    display:inline;
    font-size: 1.33333rem;
    padding:0.1% 1rem 0 0;
    border-right:1px solid rgb(225,229,231);
    color:rgb(153,153,153);
    vertical-align: middle;
}
.text_right{
    display:inline;
    font-size:1.33333rem;
    vertical-align: middle;
}
.text_price{
    display:inline;
    font-size:1.33333rem;
    color:rgb(226,97,99);
    vertical-align: middle;
}

.text_self{
    display: inline-block;
    width:54.16667%;
    font-size:1.16667rem;
    vertical-align: middle;
}
.footer{
    position:fixed;
    bottom:0;
    text-align: center;
    width:100%;
    background-color:#FFF;
    z-index: 1;
}
.leave_message{
	width:38%;
	background-color:#FFF;
	color:#5FC0CD;
    font-size:1.41667rem;
    margin-left:5%;
	padding:1rem 0.5rem;
	border-radius:1rem;
    border: solid #5FC0CD;
	float:left;
}
.tel_connect{
	width:38%;
	color:#FFF;
    font-size:1.41667rem;
	background-color:#5FC0CD;
    margin-right:5%;
	padding:1rem 0.5rem;
    border:solid #5FC0CD;
	border-radius:1rem;
	float:right;
}