html{
  font-size: 62.5%;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 35%;
  }
}
body{
  background-color: rgb(41,189,224);
  height:100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
/* 头部样式 */
.header-wrapper{
  padding:.5rem 0;
}
.header{
  display:table;
  padding:.5rem 1.5rem;
  width:100%;
}
.menu-icon-size{
  width:5.625vw;max-width: 3.9rem;
}
.icon-menu{
  display:table-cell;
  vertical-align:middle;
  float: left;
  font-size:3.4rem;
  color:rgb(255,255,255);
  cursor:pointer;
}
.icon-menu-size{
  width:6.09375vw;max-width: 3.9rem;
}
.icon-close{
  display:table-cell;
  vertical-align:middle;
  text-align: right;
  float: right;
  font-size:3.4rem;
  color:rgb(255,255,255);
  cursor: pointer;
}
.icon-close-size{
  width:5.625vw;max-width: 3.6rem;
}

.header-text{
  display:table-cell;
  vertical-align:middle;
  font-size:3.4rem;
  color:rgb(255,255,255);
  text-align:center;
}
.main-title-wrapper{
  margin-bottom: 1rem;
}

/* 主体标题样式 */
.main-title{
  display:table;
  width:100%;
  padding:1rem 1.5rem 1rem 3rem;
  background-color: rgb(185,233,245);
}
.title-text{
  display: table-cell;
  vertical-align: middle;
  font-size:2.6rem;
}
.music-play{
  border:none;
  background: transparent;
  float: right;
}
.music-play-size{
  width:7.96875vw;max-width:5.2rem;
}
.triangle{
   position: relative;
   left:8%;
   bottom:1rem;
   z-index: -1;
}
.triangle-size{
  height:2.5rem;
}

/* 主体副标题样式 */
.subtitle-text{
  color:rgb(255,255,255);
  font-size: 2.4rem;
  position: relative;
  left:8%;
  bottom:1rem;
  z-index: -1;
}

/* 主体内容样式 */
.main-content{
  padding:0 3% 11rem;
}
.main-content-box{
  width:33.33%;
}
.main-content-text-box{
  border:3px solid rgb(255,255,255);
}
.main-content-text{
  padding:25% 0;
  background:rgb(245,201,123);
  font-size:3rem;
}

.main-content-number{
  background: rgb(131,176,154);
  color:rgb(255,255,255);
  font-size: 2.276rem;
}
.main-content-icon{
  margin:.5rem auto;
  padding:0;
  opacity:0;
}
.main-content-box:hover .main-content-icon{
  opacity:1;
}
.main-content-icon-knife{
  background:url("task7pic/icon.png") no-repeat;
  background-position:0 0;
}
.main-content-icon-magnifier{
  background:url("task7pic/icon.png") no-repeat;
  background-position:33.3333% 0;
}
.main-content-icon-aim{
  background:url("task7pic/icon.png") no-repeat;
  background-position:66.6667% 0;
}
.main-content-icon-cross{
  background:url("task7pic/icon.png") no-repeat ;
  background-position:100% 0;
}
.icon-size{
  display:inline-block;
  width:7.25vw;height:7.25vw;
  background-size:29vw;
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  .icon-size{
    width:7vw;height:7vw;
    background-size:28vw;
  }
}
@media screen and (max-width: 959px) {
  .icon-size{
    width:6.75vw;height:6.75vw;
    background-size:27vw;
  }
}
@media screen and (max-width: 738px) {
  .icon-size{
    width:6.5vw;height:6.5vw;
    background-size:26vw;
  }
}
@media screen and (max-width: 600px) {
  .icon-size{
    width:6.25vw;height:6.25vw;
    background-size:25vw;
  }
}
@media screen and (max-width: 505px) {
  .icon-size{
    width:6vw;height:6vw;
    background-size:24vw;
  }
}
@media screen and (max-width: 436px) {
  .icon-size{
    width:5.75vw;height:5.75vw;
    background-size:23vw;
  }
}
@media screen and (max-width: 383px) {
  .icon-size{
    width:5.5vw;height:5.5vw;
    background-size:22vw;
  }
}
@media screen and (max-width: 342px) {
  .icon-size{
    width:5.25vw;height:5.25vw;
    background-size:21vw;
  }
}
@media screen and (max-width: 309px) {
  .icon-size{
    width:5vw;height:5vw;
    background-size:20vw;
  }
}
/* 底部样式 */
.footer{
  padding:1rem 6rem 3rem;
  background-color:rgb(41,189,224);
  z-index:1;
}
.footer-button{
  padding:1.5rem;
  background-color:rgb(251,180,53);
  color:rgb(255,255,255);
  border-radius:0;
  border-style:none;
  font-size:4rem;
}
/* 弹窗遮罩 */
.mask{
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius:.5rem;
  padding:14.0625% 7.1875%;
  background: rgb(255,255,255);
  font-size:3.4rem;
}
.mask-button-left{
  padding: 4.375% 8.4375vw;
  background: rgb(246,111,111);
  color:rgb(255,255,255);
  border-radius:.5rem;
  border-color:rgb(246,111,111);
  font-size: 3.4rem;
}
.mask-button-right{
  padding: 4.375% 8.4375vw;
  background: rgb(198,198,198);
  color:rgb(255,255,255);
  border-radius:.5rem;
  border-color:rgb(198,198,198);
  font-size: 3.4rem;
=======
  position: absolute;
  top:33vh;
  left:33vw;
  padding:10%;
  background: rgb(255,255,255);
>>>>>>> 53e8e3cd686f7f6d0efcf27577847392ca9419c3
}
#check{
  display: none;
}
.mask-cover{
  display: none;
<<<<<<< HEAD
  align-items: center;
  text-align: center;
  justify-content:center;
=======
>>>>>>> 53e8e3cd686f7f6d0efcf27577847392ca9419c3
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top:0;
  background:rgba(0,0,0,0.5);
  z-index: 1;
}

#check:checked + .mask-cover{
<<<<<<< HEAD
  display: flex;
=======
  display: block;
>>>>>>> 53e8e3cd686f7f6d0efcf27577847392ca9419c3
}
