html{
  font-size: 62.5%;
  font-family:STHeitiSC Light, serif;
  overflow-x:hidden;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 35%;
  }
}
/*头部样式*/
.header-wrapper{
  background-color:rgb(41,189,224);
  display: table;
  padding:2rem 1rem;
  width:100%;
  border-bottom: 1px solid rgb(116,212,235);
}
.header-text{
  font-size:3.4rem;
  color:rgb(255,255,255);
  display:table-cell;
  vertical-align: middle;
}
.header-icon-home{
  width:7.96875vw;max-width:5.1rem;
}
.header-icon-info{
  float:right;
  width:6.25vw;max-width:4rem;
  cursor: pointer;
}

/*主体上半部分样式*/
.main-top{
  background-color:rgb(41,189,224);
  border-bottom: 1px solid rgb(49,168,196);
  padding:1rem 0;
}
.img-win{
  margin:0 auto;
  width:54.84375vw;max-width:35.1rem;
}
.text-win{
  font-size:3.3rem ;
  color:rgb(255,200,101)
}
.text-result{
  font-size: 2.6rem;
  color:rgb(255,255,255);
}

/*主体下半部分样式*/
.main-content{
  border-bottom: 1px solid rgb(221,221,221);
}
.main-content-title{
  padding-top:1rem;
}
.main-content-days{
  font-size:3rem;
  color:rgb(81,81,81);
  padding:0;
}
.main-content-duration{
  position: relative;
  top:1rem;
  font-size:2rem ;
  color:rgb(199,199,199);
}

.main-content-text{
  padding:2rem 0;
  font-size:2.6rem;
  color:rgb(166,166,166);
}

.bottom-content-days{
  font-size:3.988rem;
  color:rgb(41,189,224);
}
.bottom-content-duration{
  position: relative;
  top:1rem;
  font-size:2.744rem ;
  color:rgb(41,189,224);
}

/*底部样式*/
.footer-wrapper{
  padding:1rem 2rem;
  background:rgba(41,189,224,0.5);
}
.footer-button-left{
  background-color: rgb(246,111,111);
  font-size:4rem ;
  color:rgb(255,255,255);
  border-radius:1rem;
  border-color:rgb(246,111,111);
}
.footer-button-right{
  background-color: rgb(251,180,53);
  font-size:4rem ;
  color:rgb(255,255,255);
  border-radius:1rem;
  border-color:rgb(251,180,53);
}