
      body
      {
      	width:100%;
      	overflow:hidden;
      }
	  .background
	    {
	     width:30vw;
         height:30vw;
         margin:auto;
	    }
	  .cube
	    {
	    width:30%;
	    height:30%;
	    background-color:#ff9933;
	    border-radius:5%;	
	    margin:0.5%;
	    float:left;
	    }