html{
  font-size: 62.5%;
  font-family:STHeitiSC Light, serif;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 35%;
  }
}
body{
  overflow: hidden;
}
/*头部样式*/
.header-wrapper{
  background-color:rgb(41,189,224);
  display: table;
  padding:2rem 1rem;
  width:100%;
  border-bottom: 1px solid rgb(116,212,235);
}
.header-text{
  font-size:3.4rem;
  color:rgb(255,255,255);
  display:table-cell;
  vertical-align: middle;
}
.header-icon-right{
  float:right;
}

/*主体上半部分样式*/
.main-top{
  background-color:rgb(41,189,224);
  border-bottom: 1px solid rgb(49,168,196);
  padding:1rem 0;
}
.img-win{
  margin:0 auto;
}
.text-win{
  font-size:3.3rem ;
  color:rgb(255,200,101)
}
.text-result{
  font-size: 2.6rem;
  color:rgb(255,255,255);
}

/*主体下半部分样式*/
.main-bottom{

}
