html{
  font-size:62.5%;
  font-family:STHeitiSC;
}
@media screen and (max-width: 768px){
  html{font-size: 40%}
}
body{
  margin:0;
  padding:0;
}
.wrapper{
  overflow:hidden;
  width:100%;
}
.header{
  background-color:#5FC0CD;
  display: table;
  width:100%;
  height:9.765625vh;
  position:fixed;
  top:0;
  text-align:center;
  z-index:1;
}
.back{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  left:4.1667%;
  width:3.06%;max-width:2.2rem;
}
.back-position{
  float:left;
}
.personal-page{
  display: table-cell;
  font-size:3.6rem;
  color:#FFF;
  text-align:center;
  vertical-align:middle;
}
.main{
  background:url(task5pic/bg.png) no-repeat;
  background-size:cover;
  margin-top:9.6vh;
  padding:6vh 4.167%;
  width:100%;
  display: flex;
  align-items: center;
}
.portrait{
  margin-right:4rem;
}
.portrait-size{
  width:23.4722vw;max-width:16.9rem;
}
.introduction{
  width:100%;
}
.name{
  text-align:center;
  font-size:3.6rem;
  color:#FFF;
}
.age{
  font-size:2.8rem;
}
.address{
  text-align:center;
  font-size:2.4rem;
  color:#FFF;
}
.address-pic{
  width:2.5%;max-width:1.8rem;
}
.skill{
  margin:1.375rem 4.167%;
  padding:0 3.889%;
  font-size:3.2rem;
  border-left:2px solid #5FC0CD;
  vertical-align:middle;
}
li{
  overflow:hidden;
  list-style-type:none;
}
ul{margin:0;padding:0;}
.interval{
  padding:1.5rem 3.889%;
}
.content{
  padding-bottom:7.333rem;
}
.bottom-border{
  padding:1.5rem 3.889%;
  border-bottom:1px solid #E1E5E7;
}
.particulars{
  width:100%;
  padding-left:4.167%;
  border-top:1px solid #E1E5E7;
  border-bottom:1px solid #E1E5E7;
  vertical-align:middle;
}
.star{
  width:3.33%;max-width:2.4rem;
  vertical-align:middle;
}
.text-home{
  display:inline;
  font-size:3.2rem;
  padding:.1% 1rem 0 0;
  border-right:1px solid #E1E5E7;
  vertical-align: middle;
}
.text-left{
  display:inline;
  font-size:3.2rem;
  padding:.1% 1rem 0 0;
  border-right:1px solid #E1E5E7;
  color:#999;
  vertical-align: middle;
}
.text-right{
  display:inline;
  padding:1.5rem 3.611%;
  font-size:3.2rem;
  vertical-align: middle;
}
.text-price{
  display:inline;
  padding:1.5rem 3.611%;
  font-size:3.2rem;
  color:#E26163;
  vertical-align: middle;
}
.text-self{
  display:inline-block;
  width:53.472%;
  font-size:2.8rem;
  vertical-align:middle;
}
.footer{
  position:fixed;
  bottom:0;
  text-align:center;
  width:100%;
  background-color:#FFF;
  z-index:1;
}
input[type="button"],button{
  -webkit-appearance: none;
}
.leave-message{
  width:38%;
  background-color:#FFF;
  color:#5FC0CD;
  font-size:3.4rem;
  margin-left:5%;
  padding:1rem .5rem;
  border-radius:1rem;
  border: solid #5FC0CD;
  float:left;
}
.tel-connect{
  width:38%;
  color:#FFF;
  font-size:3.4rem;
  background-color:#5FC0CD;
  margin-right:5%;
  padding:1rem .5rem;
  border:solid #5FC0CD;
  border-radius:1rem;
  float:right;
}