html body {
    font-size: 16px;
    margin:0;padding:0;
}
.header {
    position:fixed;
    top: 0;
    width:100%;
    background-color: rgb(95, 192, 205);
    overflow:hidden;
}
.text_close{
    font-size:2rem;
    font-family:"Adobe Heiti Std";
    color:white;
    text-align: left;
    position:absolute;
    left:3%;
    top:5%;
}
.text_login{
    font-size:2.25rem;
    font-family:"Adobe Heiti Std";
    color:white;
    text-align:center;
}
.text_register{
    font-size:2rem;
    font-family:"Adobe Heiti Std";
    color:white;
    text-align: right;
    position:absolute;
    right:3%;
    top:5%;
}
.user{
    position:fixed;
    top:11%;
    width:100%;
    background-color:white;
    overflow:hidden;
}
.account{
    font-family:"Adobe Heiti Std";
    width:auto;
    position:absolute;
    left:4.5%;
    top:5%;
}
.accountinput{
    
}
.passcode{
    font-family:"Adobe Heiti Std";
    width:auto;
    position:absolute;
    left:4.5%;
    top:10%;
}
.enter{
    width:100%;
    background-color: rgb(95, 192, 205);
    font-family:"Adobe Heiti Std";
    color: white;
    text-align: center;
    font-size: 2.25rem;
}
.text_passcodeforgot{}


