@charset "UTF-8";
html{
  font-size: 62.5%;
  font-family: 微软雅黑;
}
@media screen and (max-width:768px){
html{
  font-size: 40%;
}
}
body{margin:0;padding:0;}

/* 字体设置 */
.font-12px{
  font-size: 1.2rem;
}
.font-14px{
  font-size: 1.4rem;
}
.font-16px{
  font-size: 1.6rem;
}
.font-18px{
  font-size: 1.8rem;
}
.font-22px{
  font-size: 2.2rem;
}
.font-24px{
  font-size: 2.4rem;
}
.font-black{
  color:rgb(51,51,51)
}
.font-white{
  color:rgb(255,255,255)
}
.font-blue{
  color:rgb(29,122,217)
}
.font-orange{
  color:rgb(255,127,2)
}
.font-grey{
  color:rgb(102,102,102)
}
.font-light-grey{
  color:rgb(153,153,153)
}
/* 背景颜色 */
.bg-blue{
  background: rgb(29,122,217);
}
.bg-grey{
  background:rgb(243,243,243)
}
.bg-light-grey{
  background:rgb(249,249,249)
}
/* 重置按钮和下拉菜单样式 */
button,select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
/* flex 布局 */
.flex-1{
  display: flex;
  align-items: center;
}
.flex-2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* 强制不换行 */
.none-breaking{
  white-space:nowrap;
}
/* 头部 */
.header-wrapper{
  padding:0 18.75%;
}
.button-login {
  margin:0;
  padding:1rem .5rem;
  border-left: solid rgb(255, 255, 255);
  border-right: none;
  border-top: none;
  border-bottom: none;
  background: rgb(29,122,217);
  color:rgb(255,255,255);
}
.button-register{
  margin:0;
  padding:1rem 2rem;
  border-left: solid rgb(255, 255, 255);
  border-top: none;
  border-bottom: none;
  border-right: solid rgb(255,255,255);
  background:rgb(255,255,255);
  color: rgb(29,122,217);

}
.button-login:hover{
  transition:all .1s;
  padding:1rem 2rem;
  background:rgb(255,255,255);
  color: rgb(29,122,217);
}
/* 主体 */
.main-wrapper{
  padding:0 18.75%;
  margin-top:3.8rem;
}
/* 主体导航栏 */
.nav-wrapper{
  background: rgb(249,249,249);
}
/* 主体导航栏按钮样式 */
.button-selected{
  border-style: none;
  border-radius: .5rem;
  background: rgb(29,122,217);
  color: rgb(255,255,255);
  padding:1vw;
  margin:1.5vw;
}
.button-unselected{
  border-radius: .5rem;
  background: rgb(255,255,255);
  color: rgb(51,51,51);
  padding:1vw;
  margin:1.5vw;
}
.button-selected:hover{
  transition:all .1s;
  border-style: groove;
  border-radius: .5rem;
  background: rgb(255,255,255);
  color: rgb(51,51,51);
  padding:1vw;
  margin:1.5vw;
}
.button-unselected:hover{
  transition:all .1s;
  border-style: none;
  border-radius: .5rem;
  background: rgb(29,122,217);
  color: rgb(255,255,255);
  padding:1vw;
  margin:1.5vw;
}
/* 定制纸箱步骤 */
.step-wrapper{
  padding-top:2rem;
}
.step-line-selected{
  display: inline-block;
  width:10vw;
  height:.5rem;
  background: rgb(255,127,2);
  border-radius:.5vw;
  text-align:center ;
}
.step-number-selected{
  display: inline-block;
  width:2rem;height:2rem;
  border-radius: 50%;
  background: rgb(255,127,2);
  color:rgb(255,255,255);
  position: relative;
  top:-100%;
  z-index: 100;
}
.step-line-unselected{
  display: inline-block;
  width:10vw;
  height:.5rem;
  margin-left:-1vw;
  background: rgb(204,204,204);
  border-radius:.5rem;
  text-align:center ;
}
.step-number-unselected{
  display: inline-block;
  width:2rem;height:2rem;
  border-radius: 50%;
  background: rgb(204,204,204);
  color:rgb(255,255,255);
  position: relative;
  top:-100%;
  z-index: 100;
}
.step-content-selected{
  display: inline-block;
  width:8.28125vw;
  color: rgb(255,127,2);
  text-align: center;
  margin-right:1vw;
}
.step-content-unselected{
  display: inline-block;
  width:8.28125vw;
  color: rgb(204,204,204);
  text-align: center;
  margin-right:.8vw;
}
/* 中间“定制纸箱”的样式 */
.main-title{
  margin:1.6rem 0;
  padding-left:1vw;
  border-left: 3px solid rgb(29,122,217);
  border-radius:3px;
}
.main-subtitle{
  background: rgb(243,243,243);
  display: inline-block;
  vertical-align: middle;
}
.main-subtitle-content{
  display: inline-block;
  vertical-align: middle;
  margin:1rem .5rem;
}
.main-content-spacing{
  margin-top:2rem;
}
/* radio样式 */
.hidden-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.radio-box{
  margin:0 1rem 0 0;
}
input[type=radio]+.radio-box {
  /* your style goes here */
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 100%;
  border:.2rem solid rgb(153,153,153);
  background-color:rgb(255,255,255);
}
input[type=radio]:checked+.radio-box {
  box-sizing: border-box;
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  margin:0 1rem 0 0;
  border-radius: 100%;
  border:.5rem solid rgb(29,122,217);
  background-color:rgb(255,255,255);
}
/* input 文本框宽度*/
.text-box{
  width:6rem;
}
/* 查看详情样式 */
.select1{
  border: solid 1px rgb(153,153,153);
  background: url("task10pic/pull-down-list.png") no-repeat scroll right center transparent;
  padding:.5rem 2rem .5rem 1rem;
}
main select::-ms-expand { display: none; }
/* “下一步” */
.next-wrapper{
  margin:6rem 0;
}
.button-next{
  border-style: none;
  border-radius: .5rem;
  background: rgb(225,80,83);
  color: rgb(255,255,255);
  padding:.5rem 2.5rem;
  margin:1.5rem;
}
/* 脚注 */
.footer-top{
  padding:2rem 18.75%
}
.footer-content{
  margin-top:.5rem;
}
.footer-content-2{
  margin-top:.5rem;
  padding-right:0;
}
@media screen and (max-width:1500px){
  .header-wrapper{
    padding:0 15%;
  }
  .main-wrapper{
    padding:0 15%;
  }
  .footer-top{
    padding:2rem 15%
  }
}

@media screen and (max-width:1300px){
  .header-wrapper{
    padding:0 10%;
  }
  .main-wrapper{
    padding:0 10%;
  }
  .footer-top{
    padding:2rem 10%
  }
}
@media screen and (max-width:1000px){
  .header-wrapper{
    padding:0 5%;
  }
  .main-wrapper{
    padding:0 5%;
  }
  .text-box{
    width:4.2rem;
  }
  .footer-top{
    padding:2rem 5%
  }
}

@media screen and (max-width:768px){
  .header-wrapper{
    padding:0 3%;
  }
  .main-wrapper{
    padding:0 3%;
    margin-top:3.8rem;
  }
  .text-box{
    width:10vw;
  }
  .footer-top{
    padding:2rem 3%
  }
.footer-align{
  text-align: center;
}
  .step-line-selected{
    width:20vw;
  }
  .step-line-unselected{
    width:20vw;
    margin-left:-2vw;
  }
  .step-number-selected{
    position: relative;
    top:-200%;
    z-index: 100;
  }
  .step-number-unselected{
    position: relative;
    top:-200%;
    z-index: 100;
  }
}