@charset "UTF-8";
html{
    font-size: 16px;;
    margin:0;padding:0;
}
body{
    margin:0;
}
#main{
    max-width:720px;width:100%;
    margin:0 auto;
}
.header {
    position:fixed;
    top: 0;
    width:100%;
    background-color:rgb(95, 192, 205);
    overflow:hidden;
}
.text_close{
    font-size:2rem;
    font-family:"Adobe Heiti Std";
    color:white;
    text-align: left;
    position:absolute;
    left:3%;
    top:5%;
}
.text_login{
    font-size:2.25rem;
    font-family:"Adobe Heiti Std";
    color:white;
    text-align:center;
}
.text_register{
    font-size:2rem;
    font-family:"Adobe Heiti Std";
    color:white;
    text-align: right;
    position:absolute;
    right:3%;
    top:5%;
}
.user{
    position:absolute;
    top: 5rem;;
    width:100%;
    background-color:white;
    overflow:hidden;
}
ul{
    list-style-type: none;
    margin:0;padding:0;
}
label{
   margin:1rem 2rem;
}
.accountpic{
    position: absolute;
    top:1rem;
}
.account{
     font-family:"Adobe Heiti Std";
     margin:1rem 2rem;
 }
.pswpic{
     margin:1rem 2rem;
}
.password{
    font-family:"Adobe Heiti Std";
    margin:1rem 2rem;
}
.enter{
    width:100%;
    background-color: rgb(95, 192, 205);
    font-family:"Adobe Heiti Std";
    color: white;
    text-align: center;
    font-size:2rem;
}
a:link {
    color:rgb(95, 192, 205);
    text-decoration: none;}
a:visited {
    color:purple
    text-decoration: none;}
a:hover {
    color: yellowgreen;
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.pswforgot{
    font-size:2rem;
    font-family:"Adobe Heiti Std";
    color:rgb(95, 192, 205);
    text-align: right;
}

