html,body,ul,li{
    font-size:12px;
    font-family:STHeitiSC Light;
    margin:0;
    padding:0;
}
.wrapper{
    height:100%;
    max-width:720px;
    margin:0 auto;
    overflow:hidden;
    width:100%;
}
.header{
    background-color:#5FC0CD;
    height:3.542rem;
    line-height:3.542rem;
    width:100%;
    max-width:720px;
    position:fixed;
    top:0;
    text-align:center;
    vertical-align:middle;
    z-index:1;
}
.back{
    position:absolute;
    top:1.125rem;
    left:4.861%;
    max-width:11px;
}
.personal-page{
    font-size:1.5rem;
    color:#FFF;
    text-align:center;
    vertical-align:middle;
}
.main{
    background:url(task5pic/bg.png) no-repeat;
    background-size:cover;
    padding-top:3.5rem;
    width:100%;
    height:auto;
}
.portrait{
    max-width:84.5px;
    margin:3.292rem 5.694% 0 4.167%;
    float:left;
}
.introduction{
    width:100%;
    height:13.583rem;
    position:relative;
    top:4.875rem;
}
.name{
    text-align:center;
    font-size:1.5rem;
    color:#FFF;
}
.age{
    font-size:1.333rem;
}
.address{
    text-align:center;
    font-size:1rem;
    color:#FFF;
}
.address-pic{
    max-width:9px;
}
.skill{
    margin:1.375rem 4.167%;
    padding:0 3.889%;
    font-size:1.333rem;
    border-left:2px solid #5FC0CD;
    vertical-align:middle;
}
li{
    overflow:hidden;
    list-style-type:none;
}
.interval{
    padding:1.5rem 3.611%;
}
.content{
    padding-bottom:7.333rem;
}
.bottom-border{
    padding:1.5rem 3.611%;
    border-bottom:1px solid #E1E5E7;
}
.particulars{
    width:100%;
    padding-left:4.167%;
    border-top:1px solid #E1E5E7;
    border-bottom:1px solid #E1E5E7;
    vertical-align:middle;
}
.star{
    max-width:12px;
    vertical-align:middle;
}
.text-home{
    display:inline;
    font-size:1.333rem;
    padding:.1% 1rem 0 0;
    border-right:1px solid #E1E5E7;
    vertical-align: middle;
}
.text-left{
    display:inline;
    font-size:1.333rem;
    padding:.1% 1rem 0 0;
    border-right:1px solid #E1E5E7;
    color:#999;
    vertical-align: middle;
}
.text-right{
    display:inline;
    padding:1.5rem 3.611%;
    font-size:1.333rem;
    vertical-align: middle;
}
.text-price{
    display:inline;
    padding:1.5rem 3.611%;
    font-size:1.333rem;
    color:#E26163;
    vertical-align: middle;
}
.text-self{
    display:inline-block;
    width:53.472%;
    font-size:1.167rem;
    vertical-align:middle;
}
.footer{
    position:fixed;
    bottom:0;
    text-align:center;
    width:100%;
    max-width:720px;
    background-color:#FFF;
    z-index:1;
}
input[type="button"],button{
    -webkit-appearance: none;
}
.leave-message{
    width:38%;
    background-color:#FFF;
    color:#5FC0CD;
    font-size:1.417rem;
    margin-left:5%;
    padding:1rem .5rem;
    border-radius:1rem;
    border: solid #5FC0CD;
    float:left;
}
.tel-connect{
    width:38%;
    color:#FFF;
    font-size:1.417rem;
    background-color:#5FC0CD;
    margin-right:5%;
    padding:1rem .5rem;
    border:solid #5FC0CD;
    border-radius:1rem;
    float:right;
}