html{
  font-size:62.5%;
  font-family:STHeitiSC;
}
.head-background{background-color:#FFF;}
.button-background{background-color:#5FC0CD;}
.foot-background{background-color: #FFF;}

.button-height{height:7.5rem;line-height:7.5rem;}
.list-height{height:8rem;line-height:8rem;}
.foot-height{height:10rem;line-height:5rem;}

.border-bottom{border-bottom:.2rem solid #DEE5E7;}
.border-right{border-right:.2rem solid #DEE5E7;}

.main{padding:13rem 0 8rem; overflow: hidden;}
.list-padding{padding:1.3rem 0;}
.content-padding{padding:1.25rem;}
.foot-padding{}

.right-padding{padding-right:0;}
.left-padding{padding-left:0;}


.button-color-employer{background-color:#55A8B3;color:#FFF;}
.button-color-employee{background-color:#FFF;color:#55A8B3;}
.text-font-color{color:#999;}
.date-font-color{color:#000;}
.price-font-color{color:#E63B0E;}
.home-font-color{color:#5FC0CD;}

.button-font-size{font-size: 3.4rem;}
.content-font-size{font-size:2.8rem;}
.price-font-size{font-size:3rem;}
.address-font-size{font-size:2.6rem;}
.foot-font-size{font-size:2rem;}

.icon-map{width:4.2rem;min-width:2.1rem;}
.icon-calendar{width:2.4rem;min-width:1.2rem;}
.icon-address{width:1.9rem;min-width:.95rem;}
.icon-right{width:1.9rem;min-width:.95rem;}
.icon-home{width:4.6rem;min-width:2.3rem;}
.icon-pen{width:9.4rem;min-width:4.7rem;}
.icon-person{width:4.2rem;min-width:2.1rem;}

img{max-width:100%;max-height:100%;}
li{text-align: center;}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  li{text-align: left;}
}
@media screen and (max-width: 688px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 625px) {
  html {
    font-size: 43%;
  }
}
@media screen and (max-width: 545px) {
  html {
    font-size: 38%;
  }
}
@media screen and (max-width: 392px) {
  html {
    font-size: 30%;
  }
}