html{
  font-size:62.5%;
  font-family:STHeitiSC;
}
.head-background{background-color:#FFF;}
.button-background{background-color:#5FC0CD;}
.foot-background{background-color: #FFF;}

.button-height{height:4.4rem;line-height:4.4rem;}
.list-height{height:4rem;line-height:4rem;}
.foot-height{height:5rem;}

.border-bottom{border-bottom:1px solid #DEE5E7;}
.border-right{border-right:1px solid #DEE5E7;}

.main{padding:9.35rem 0 4rem; overflow: hidden;}
.list-padding{padding:1.3rem 0;}
.content-padding{padding:1.5rem;}

.button-padding-employer{padding-right:0;!important;}
.button-padding-employee{padding-left:0;!important;}
.content-margin{margin-left:-10px;}

.button-color-employer{background-color:#55A8B3;color:#FFF;}
.button-color-employee{background-color:#FFF;color:#55A8B3;}
.text-font-color{color:#999;}
.date-font-color{color:#000;}
.price-font-color{color:#E63B0E;}
.home-font-color{color:#5FC0CD;}

.button-font-size{font-size: 1.7rem;}
.content-font-size{font-size:1.4rem;}
.price-font-size{font-size:1.5rem;}
.address-font-size{font-size:1.3rem;}
.foot-font-size{font-size:1rem;}

.icon-map{max-width:2.1rem;}
.icon-triangle{max-width: .65rem;}
.icon-calendar{max-width:1.2rem;}
.icon-address{max-width:.95rem;vertical-align: middle;}
.icon-right{max-width:.95rem;}
.icon-home{max-width:2.3rem;}
.icon-pen{max-width:4.7rem;}
.icon-person{max-width:2.1rem;}