html{
  font-size:62.5%;
  font-family:STHeitiSC;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
}
.head-background{background-color:#FFF;}
.button-background{background-color:#5FC0CD;}
.foot-background{background-color: #FFF;}

.button-height{height:7.5rem;line-height:7.5rem;}
.list-height{height:8rem;line-height:8rem;}
.foot{display:flex;align-items: center}
.foot-align{display:flex;align-items:center;text-align: center;justify-content: center;}


.border-bottom{border-bottom:.2rem solid #DEE5E7;}
.border-right{border-right:.2rem solid #DEE5E7;}

.main{padding:13.5rem 0 8rem; overflow: hidden;}
.content{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.button{white-space:nowrap;}

.list-padding{padding:1.3rem 0;}
.content-padding{padding:1.25rem;}
.right-padding{padding-right:0;}
.left-padding{padding-left:0;}

.button-color-employer{background-color:#55A8B3;color:#FFF;}
.button-color-employee{background-color:#FFF;color:#55A8B3;}
.text-font-color{color:#999;}
.date-font-color{color:#000;}
.price-font-color{color:#E63B0E;}
.home-font-color{color:#5FC0CD;}

.button-font-size{font-size: 3.4rem;}
.content-font-size{font-size:2.8rem;}
.price-font-size{font-size:3rem;}
.address-font-size{font-size:2.6rem;}
.foot-font-size{font-size:2rem;}

.icon-map{width:5.833vw;max-width:4.2rem;}
.icon-calendar{width:3.33vw;max-width:2.4rem;}
.icon-address{width:2.64vw;max-width:1.9rem;}
.icon-right{width:2.64vw;max-width:1.9rem;}
.icon-home{width:6.388vw;max-width:4.6rem;}
.icon-pen{width:13.06vw;max-width:9.4rem;}
.icon-person{width:5.833vw;max-width:4.2rem;}

li{text-align: center;}

@media screen and (max-width: 768px) {
  li{text-align: left;}
}