@charset "UTF-8";
html{
    margin:0;padding:0;
    font-size:62.5%;
    font-family:STHeitiSC;
}
@media screen and (max-width: 768px){
    html{
        font-size:40%;
    }
}
body{
    background-color:rgb(239,240,244);
    margin:0;padding:0;
}
.main{
    width:100%;
}
img{
    background-color:white;
}
.header {
    position:fixed;
    top:0;
    width:100%;
    height:72px;
    line-height: 72px;
    background-color:rgb(95, 192, 205);
    overflow:hidden;
    text-align: center;
}
.text_close{
    font-size:3.2rem;
    background-color: rgb(95, 192, 205);
    color:white;
    display:inline-block;
    padding:0 3%;
    float:left;
}
.text_login{
    font-size:3.6rem;
    background-color: rgb(95, 192, 205);
    color:white;
    text-align:center;
    display:inline-block;
}
.text_register{
    font-size:3.2rem;
    background-color: rgb(95, 192, 205);
    color:white;
    display:inline-block;
    padding:0 3%;
    float:right;
}
form ul{
    width:100%;
    overflow:hidden;
    list-style-type: none;
    margin-top:72px;padding:0;
    text-align:center;
    vertical-align: middle;
}
li{
    background-color:white;
    margin:8px 0;
}
.pic{
    background-color:white;
    margin: 2rem 0 2rem 4%;
    padding-right: 2.25rem;
    border-right:2px solid rgb(239,240,244);
    float:left;
    clear:both;
}
.input-style{
     background-color:white;
     font-size:3.6rem;
     padding: 2rem 4%;
     height:43px;
     border: none;
     clear:both;
     width:65%;
     outline:none;
 }
.li_enter{background-color:rgb(239,240,244);}
.enter{
    width:100%;
    height:72px;
    margin-top:1em;
    background-color: rgb(95, 192, 205);
    font-size:3.6rem;
    color: white;
    text-align:center;
    border:0;
}
a:link {
    color:rgb(95, 192, 205);
    text-decoration: none;}
a:visited {
    color:purple;
    text-decoration: none;}
a:hover {
    color: yellowgreen;
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.psw-forgot{
    font-size:3.2rem;
    color:rgb(95, 192, 205);
    float:right;
}
