@charset "utf-8";

/* the carousel banner */
.banner{
  margin-top:12.3rem;
}
@media screen and (max-width:768px ){
  .banner{
    margin-top:10.6rem;
  }
}
/* main */
.main-wrapper{
  margin-top:5rem;
}
.title-margin{
  margin:10rem 0 7rem;
}
.border-dashed{
  border-right: 2px dashed rgb(222,222,222);
}
.students-amount{
  margin:2rem 1vw;
}
@media screen and (max-width:768px ){
  .main-wrapper{
    margin-top:2rem;
  }
  .border-dashed{
    border-right:none;
    border-bottom: 2px dashed rgb(222,222,222);
  }
}
@media screen and (max-width:768px ){
  .students-amount{
    margin:3rem 1vw;
    text-align: center;
  }
}
.rocket{
  width:2.240vw;max-width: 4.3rem;min-width: 2.15rem;
}
.archive{
  width:3.125vw;max-width: 6rem;min-width:3rem;
}
.resource{
  width:2.708vw;max-width: 5.2rem;min-width:2.6rem;
}
/* learning step*/
.number-circle{
  height: 4rem;
  width:4rem;
  background:rgb(255,2555,255);
  border-radius: 50%;
  text-align: center;

}
.icon-arrow{
  width:1.667vw;max-width: 3.2rem;min-width: 1.6rem;
}
/* excellent students */
.spacing-for-border{
  margin:0 1px;
  padding:1vw;
}
.portrait-size{
  width:5.625vw;max-width: 10.8rem;min-width:6rem;
}

/* */
.circle-activity{
  display: inline-block;
  padding: 0.6rem;
  background-color:rgb(41,176,120);
  border-radius: 50%;
  cursor: pointer;
  list-style: none;
}
.circle-inactivity{
  display: inline-block;
  padding: 0.6rem;
  background-color:rgb(255,255,255);
  border-radius: 50%;
  cursor: pointer;
  list-style: none;
}
/* cooperation */
.coop-company{
  padding:1.5rem 0;
  background: rgb(255,255,255);
}
/* friend-link */
.friend-margin{
  margin:3rem 0 1rem;
}
.friend-list{
  display: inline-block;
  list-style: none;
  width:9rem;
  border-bottom:2px solid rgba(38,162,111,0);
}
.friend-list div{
  padding:1rem 0;
}
.friend-list a:hover{
  border-bottom:2px solid rgba(38,162,111,1);
}