html{
  font-size: 62.5%;
  font-family:STHeitiSC Light, serif;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 35%;
  }
}
body{
  background-color: rgb(41,189,224);
  overflow: hidden;
}
/* 头部样式 */
.header-wrapper{
  padding:.5rem 0;
}
.header{
  display:table;
  padding:.5rem 1.5rem;
  width:100%;
}
.menu{
  float: left;
  font-size:3.4rem;
  color:rgb(255,255,255);
}
.remove{
  float: right;
  font-size:3.4rem;
  color:rgb(255,255,255);
}
.header-text{
  display:table-cell;
  vertical-align:middle;
  font-size:3.4rem;
  color:rgb(255,255,255);
  text-align:center;
}

/* 主体标题样式 */
.main-title{
  display:table;
  width:100%;
  padding:2rem 1.5rem 2rem 3rem;
  background-color: rgb(185,233,245);
}
.title-text{
  display: table-cell;
  vertical-align: middle;
  font-size:2.6rem;
}
.play-circle{
  float:right;
  width:35%;
}
.triangle{
   position: relative;
   left:8%;
   bottom:1rem;
   z-index: -1;
}
.triangle-size{
  height:2.5rem;
}

/* 主体副标题样式 */
.subtitle-text{
  color:rgb(255,255,255);
  font-size: 2.4rem;
  position: relative;
  left:8%;
  bottom:1rem;
  z-index: -1;
}

/* 主体内容样式 */
.main-content{
  padding: 2rem 0;
}
.main-content-box{
  border:.5rem solid rgb(255,255,255);
  width:50%;

}
.main-content-text{
  padding:2.5rem 0;
  background: rgb(245,201,123);
  font-size: 3rem;
}
.main-content-number{
  background: rgb(131,176,154);
  color:rgb(255,255,255);
  font-size: 2.276rem;
}
.main-content-icon{
  margin:.5rem 0;
  padding:0;
  list-style-type:none;
  opacity: ;
}
.main-content-box:hover .main-content-icon{
  opacity: 1;
}
li{
  float: left;
  margin-right:.5rem;
  background:url("task7pic/icon.png") no-repeat;
}
.main-content-icon-knife{
  background-position:0px 0px;
  width:30px;
  height:30px;
}
.main-content-icon-magnifier{
  background-position:-40px 0px;
  width:30px;
  height:30px;
}
.main-content-icon-aim{
  background-position:-80px 0px;
  width:30px;
  height:30px;
}
.main-content-icon-cross{
  background-position:-120px 0px;
  width:30px;
  height:30px;
}
/* 底部样式 */
.footer{
  padding:1rem 6rem 3rem;
  background-color: rgb(41,189,224);
  z-index:1;
}
.footer-button{
  padding:1.5rem;
  background-color: rgb(251,180,53);
  color:rgb(255,255,255);
  border-radius: 0;
  border-style: none;
  font-size: 4rem;
}