@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: STHeitiSC;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  html {
    font-size: 40%; } }
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/*
头部样式
*/
header {
  display: inline-block;
  vertical-align: middle;
  background-color: #5FC0CD;
  width: 95%;
  padding: 1rem 3%;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1; }
  header .located {
    float: right;
    vertical-align: middle; }
    header .located img {
      width: 4.2rem; }
    @media screen and (max-width: 768px) {
      header .located img {
        width: 3.2rem; } }
  header button {
    appearance: none;
    -webkit-appearance: none;
    font-size: 3.4rem;
    padding: .5rem;
    border-radius: .6rem;
    cursor: pointer; }
  header .header-button-left {
    background-color: #55A8B3;
    color: #FFF;
    margin-right: -.7%; }
  header .header-button-right {
    background-color: #FFF;
    color: #5FC0CD; }

.nav {
  position: fixed;
  top: 7rem;
  width: 100%;
  padding-right: 3%;
  background-color: #FFF;
  border-bottom: 1px solid #E1E5EA;
  z-index: 1; }
  .nav ul {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    width: 100%; }
    .nav ul li {
      display: inline-block;
      vertical-align: middle;
      color: #999;
      list-style: none;
      width: 32.5%;
      text-align: center;
      font-size: 2.8rem; }
      .nav ul li span {
        float: right; }
        .nav ul li span span {
          width: 0;
          height: 0;
          border-left: .8rem solid transparent;
          border-right: .8rem solid transparent;
          border-top: 1rem solid #999;
          position: relative;
          top: 1rem; }
        @media screen and (max-width: 768px) {
          .nav ul li span span {
            width: 0;
            height: 0;
            border-left: .6rem solid transparent;
            border-right: .6rem solid transparent;
            border-top: 0.75rem solid #999;
            position: relative;
            top: .8rem; } }
      .nav ul li .border-right {
        border-right: 1px solid #E1E5EA; }
      .nav ul li .border-none {
        border: none; }

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 5.6rem; } }
.main {
  margin: 12.2rem 0 10rem;
  padding: 0 0 0 3rem; }

@media screen and (max-width: 768px) {
  .main {
    margin-top: 9.8rem;
    padding: 0 1rem; } }
a {
  text-decoration: none; }

.content-list {
  padding: 1.5rem 0; }
  .content-list div div {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1.5rem 1.5rem 1.5rem 0; }
  @media screen and (max-width: 768px) {
    .content-list div div {
      margin: .75rem .75rem .75rem 0; } }
  .content-list .service {
    color: #999;
    font-size: 2.8rem; }
    .content-list .service img {
      width: 2.4rem; }
    @media screen and (max-width: 768px) {
      .content-list .service img {
        width: 1.2rem; } }
  .content-list .date-price {
    margin-left: 4.2rem;
    width: 95%; }
  @media screen and (max-width: 768px) {
    .content-list .date-price {
      margin-left: 2.2rem; } }
  .content-list .date {
    color: #33330F;
    width: 50%;
    margin: 0;
    font-size: 2.8rem; }
  .content-list .price {
    color: #E26163;
    font-size: 3rem;
    margin: 0 1rem 0 0;
    float: right; }
    .content-list .price div {
      position: relative;
      top: -.5rem;
      margin: 0; }
      .content-list .price div img {
        position: relative;
        top: .3rem;
        width: 2.64vw;
        max-width: 1.9rem;
        min-width: .95rem; }
  .content-list .address {
    color: #999;
    font-size: 2.6rem; }
    .content-list .address img {
      width: 1.9rem; }
    @media screen and (max-width: 768px) {
      .content-list .address img {
        width: .95rem; } }

footer {
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #FFF;
  z-index: 1; }

.footer-index {
  display: inline-block;
  vertical-align: middle;
  width: 35%;
  color: #5FC0CD;
  font-size: 2rem; }
  .footer-index img {
    width: 6.38vw;
    max-width: 4.6rem; }

.footer-write {
  display: inline-block;
  vertical-align: middle;
  width: 20%; }
  .footer-write img {
    width: 13vw;
    max-width: 9.4rem; }

.footer-person {
  display: inline-block;
  vertical-align: middle;
  width: 35%;
  color: #999;
  font-size: 2rem; }
  .footer-person img {
    width: 5.83vw;
    max-width: 4.2rem; }

/*# sourceMappingURL=task12-2.css.map */
