html{
  font-size: 62.5%;
  font-family:STHeitiSC Light, serif;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 35%;
  }
}
body{
  background-color: rgb(41,189,224);
  overflow-x: hidden;
}
/* 头部样式 */
.header-wrapper{
  padding:.5rem 0;
}
.header{
  display:table;
  padding:.5rem 1.5rem;
  width:100%;
}
.menu{
  float: left;
  font-size:3.4rem;
  color:rgb(255,255,255);
  width:4rem;
  cursor:pointer;
}
.close{
  float: right;
  font-size:3.4rem;
  color:rgb(255,255,255);
  width:4rem;
  cursor: pointer;
}
.header-text{
  display:table-cell;
  vertical-align:middle;
  font-size:3.4rem;
  color:rgb(255,255,255);
  text-align:center;
}
.main-wrapper{
  margin-bottom: 14rem;
}

/* 主体标题样式 */
.main-title{
  display:table;
  width:100%;
  padding:1rem 1.5rem 1rem 3rem;
  background-color: rgb(185,233,245);
}
.title-text{
  display: table-cell;
  vertical-align: middle;
  font-size:2.6rem;
}
.music-play{
  border:none;
  background: transparent;
  float: right;
}
.music-play-size{
  width:5.2rem;
}
.triangle{
   position: relative;
   left:8%;
   bottom:1rem;
   z-index: -1;
}
.triangle-size{
  height:2.5rem;
}

/* 主体副标题样式 */
.subtitle-text{
  color:rgb(255,255,255);
  font-size: 2.4rem;
  position: relative;
  left:8%;
  bottom:1rem;
  z-index: -1;
}

/* 主体内容样式 */
.main-content-box{
  display: inline-block;
  margin:1rem 0 1rem 1rem;
  width:29.8%;
}
.main-content-text-box{
  border:.5rem solid rgb(255,255,255);
}
.main-content-text{
  padding:2.5rem;
  background:rgb(245,201,123);
  font-size:3rem;
}
@media screen and (max-width: 768px) {
  .main-content-text{padding:1.25rem;}
}

.main-content-number{
  background: rgb(131,176,154);
  color:rgb(255,255,255);
  font-size: 2.276rem;
}
.main-content-icon{
  margin:.5rem auto;
  padding:0;
  list-style-type:none;
  opacity:0;
}
.main-content-box:hover .main-content-icon{
  opacity:1;
}
.main-content-icon{
  margin:.5rem auto;
}
.main-content-icon-knife{
  background:url("task7pic/icon.png") no-repeat;
  background-position:0 0;
}
.main-content-icon-magnifier{
  background:url("task7pic/icon.png") no-repeat;
  background-position:33.33% 0;
}
.main-content-icon-aim{
  background:url("task7pic/icon.png") no-repeat;
  background-position:66.67% 0;
}
.main-content-icon-cross{
  background:url("task7pic/icon.png") no-repeat ;
  background-position:100% 0;
}
.icon-size{
  display:inline-block;
  width:3rem;height:3rem;
  background-size:15rem;
  cursor: pointer;
}
/* 底部样式 */
.footer{
  padding:1rem 6rem 3rem;
  background-color:rgb(41,189,224);
  z-index:1;
}
.footer-button{
  padding:1.5rem;
  background-color:rgb(251,180,53);
  color:rgb(255,255,255);
  border-radius:0;
  border-style:none;
  font-size:4rem;
}