@charset "UTF-8";
$tundora: rgb(70,70,70);
$emperor: rgb(81,81,81);
$scorpion: rgb(86,86,86);
$boulder: rgb(120,120,120);
$dusty-gray: rgb(154,154,154);
$silver-chalice: rgb(166,166,166);
$silver: rgb(201,201,201);
$alto: rgb(208,208,208);
$gallery: rgb(240,240,240);
$white: rgb(255,255,255);
$scooter: rgb(41,189,224);
$turquoise-blue: rgb(105,209,233);
$ice-cold: rgb(185,233,245);
$cape-honey: rgb(253,225,174);
$golden-sand: rgb(245,201,123);
$yellow-orange: rgb(251,180,53);
$golden-tainoi: rgb(255,200,101);
$froly: rgb(246,111,111);
$acapulco:rgb(131,176,154);
$font-size--primary: 3rem;
$font-size--x-large: $font-size--primary*1.333;
$font-size--large: $font-size--primary*1.133;
$font-size--small: $font-size--primary*0.867;
$font-size--x-small: $font-size--primary*0.8;
$font-size--xx-small: $font-size--primary*0.759;
@mixin inline-block{
  display: inline-block;
  vertical-align: middle;
}
@mixin bg-scooter{
  background-color: $scooter;
}

.page{
  @include bg-scooter;
}
.header{
  @include inline-block;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  position: fixed;
  top: 0;
  @include bg-scooter;
  text-align: center;
  z-index: 1;
}
.header__icon_left{
  @include inline-block;
  margin: 1rem;
  float: left;
  cursor: pointer;
  &--size{
    width: 6.094vw;
    max-width: 3.9rem;
    min-width: 1.95rem;
  }
  @media screen and (max-width: 640px){
    &--size{
      margin-top: 1rem;
    }
  }
}
.header__text{
  @include inline-block;
  margin: 1rem;
  line-height: 4rem;
  color: $white;
  font-size: $font-size--large;
}
.header__icon_right{
  @include inline-block;
  margin: 1rem;
  float: right;
  cursor: pointer;
  &--size{
    width: 5.625vw;
    max-width: 3.6rem;
    min-width: 1.8rem;
  }
  @media screen and (max-width: 640px){
    &--size{
      margin-top: 1rem;
    }
  }
}
.main{
  @include bg-scooter;
  margin-top: 6rem;
  padding-bottom: 12rem;
  &__top{
    padding-top: 1rem;
  }
}
.title{
  padding: 1rem;
  background-color: $ice-cold;
  &__text{
    @include inline-block;
    margin: 1rem 5%;
    font-size: $font-size--small;
    color: $emperor;
  }
}
.music__button{
  border:none;
  background: transparent;
  float: right;
}
.music__icon_play--size{
  width: 100%;
  max-width:5.2rem;
}
@media screen and (max-width: 768px){
  .music__icon_play--size{
    margin-top: -.5em;
  }
}
.sub-title__icon_triangle{
  position: relative;
  left: 9%;
}
.subtitle__text{
  margin-left: 9%;
  font-size: $font-size--x-small;
  color: $white;
}
.main__bottom{
  @include inline-block;
  margin-top: 1rem;
  width: 100%;
}
@mixin vote__icon{
  @include inline-block;
  width: 20%;
  max-width: 3rem;
  height: 3rem;
  background-size: 400%;
  background-image: url('../img/icon.png') ;
  background-repeat: no-repeat;
  cursor: pointer;
}
.vote{
  @include inline-block;
  width: 28.8%;
  margin: 1.5rem 0 0 3%;
  text-align: center;
  &__box{
    border: 3px solid $white;
    cursor: pointer;
  }
  &__role{
    padding: 25% 0;
    background-color: $golden-sand;
    font-size: $font-size--primary;
    color: $scorpion;
  }
  &__number{
    background-color: $acapulco;
    font-size: $font-size--xx-small;
    color: $white;
  }
  &__icon{
    margin: .5rem auto;
    padding: 0;
    opacity: 0;
    &--knife{
      @include vote__icon;
      background-position: 0 0;
    }
    &--magnifier{
      @include vote__icon;
      background-position: 33.333% 0;
    }
    &--aim{
      @include vote__icon;
      background-position: 66.667% 0;
    }
    &--cross{
      @include vote__icon;
      background-position: 100% 0;
    }
  }
}
.vote:hover .vote__icon{
  opacity: 1;
}
.footer{
  @include bg-scooter;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  z-index: 1;
}
.vote__button{
  margin: 2.1rem 11.25%;
  padding: 1.2rem 0;
  width: 76.56%;
  text-align: center;
  background-color: $yellow-orange;
  font-size: $font-size--x-large;
  color: $white;
}